numpy
pandas
xarray
scipy
geopandas
rioxarray
shapely
eofs
xesmf
matplotlib
cartopy
cmocean
cmcrameri
scienceplots
scikit-learn
intake
fsspec
dask
netcdf4
h5netcdf
openpyxl
xlrd
intake-esm
zarr
jupyter
ipywidgets
tqdm